.GoFull{
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.nav{
    height: 120vh;
    max-height: 120vh;
    min-height: 119vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    background-attachment: fixed;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

    &__position{
        position: relative;
        padding-top: 64px;
        padding-top: 4rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;

        &__menu{

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;

            &__middle{
                padding-top: 10vh;
                padding-bottom: 30vh;
            }

            &__top{
                z-index: 100;
            }

            &__bottom{
                -webkit-box-align: center;
                    -ms-flex-align: center;
                            -ms-grid-row-align: center;
                        align-items: center;
                &__line{
                    width: 100%;
                    background-color: white;
                    height: 1px;
                }
            }
        }
    }
}

#button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    border: none;
    outline: none;
    background-color: #ececec;
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    width: 70px;
      height:70px;
  }

  #button.show {
    opacity: 1;
    visibility: visible;
  }
  

#myBtn.show {
    opacity: 1;
    visibility: visible;
  }


  
  #button:hover {
    background-color:rgb(219, 219, 219);
  }


  .arrow_top{
      margin-top: 12px;
  }

  #button:hover .arrow_top{
    -webkit-animation: shake 1s infinite;
            animation: shake 1s infinite;
}


  @-webkit-keyframes shake {
    0% { -webkit-transform: translate(0px, 1px); transform: translate(0px, -4px ,) ; }
    50% { -webkit-transform: translate(-8px, 1px); transform: translate(0px, 1px);  }
    100% { -webkit-transform: translate(0px, 1px); transform: translate(0px, -4px);  }
  }


.mdi-nav{
    color: white !important;
}


.nav.scrolled .menu__top {
    color: black !important;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  @include media-breakpoint-up(xl) { 
    .nav__position__menu__middle{
        width: 75%;
    }
  }

  @include media-breakpoint-down(sm) { 
    .nav{

        height: 105vh;
        background-repeat: no-repeat;
        background-size: cover;

        &__position{
            &__menu{
                display:block;

                &__bottom{
                    &__line{
                        display: none;
                    }
                }

                &__middle{
                    padding-bottom: 15vh;
                }

                &__top{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: space-between !important;
                        -ms-flex-pack: space-between !important;
                            justify-content: space-between !important;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                }
            }
        }
    }

    .menu__top{
        margin-right: 1rem;
    }



    .mdi__position{
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 15vh;

        &__inside{
            display: flex;
        }
    }
    .nav.scrolled .nav__position{
        padding-top: 2rem;
    }

    .nav.scrolled .menu__top {
        color: black !important;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
      }

   }

   @include media-breakpoint-down(md) { 
       .nav{
           &__position{
               -webkit-box-pack: center;
                   -ms-flex-pack: center;
                       justify-content: center;
               &__top{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
            }
           }
       }
   }

   @include media-breakpoint-down(lg) { 
    .nav{
        &__position{
            &__menu{
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                &__top{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-pack: distribute;
                        justify-content: space-around;
                }
            }
        }
    }
}

@media (min-height: 100px) and (max-width:365px) { 
    .menu__top{
        font-size: 0.8rem;
    }
}
   

