.img{
    min-height: 18vw;
    max-height: 18vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#total{
    padding-top: 3rem;
}

.center_div{
    margin: auto;
    margin-top: 7rem;
}

.total__vermais{
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.individual__vermais{
    margin-bottom: 6rem;
}


.a__bottom__add_info{
    border: none;
    background-color: transparent;
            margin-top: 4rem;
}



@include media-breakpoint-down(lg) {
    .total__vermais{
        .img{
            max-height: 26vw;
            min-height: 26vw;
        }
    }
}

@include media-breakpoint-down(md) {
    .total__vermais{
    
        .img{
            max-height: 51vw;
            min-height: 51vw;
        }
    }
}

@include media-breakpoint-down(xs) {
    .total__vermais{
    
        .img{
            max-height: 51vw;
            min-height: 51vw;
        }
    }

    .a__bottom__add_info{
        margin-top: 2rem;
    }
}